* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(-45deg, #F20587, #0367A6, #F2CB05);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-family: sans-serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

p {
    font-family: sans-serif;
    font-size: 1.8rem;
    color: white;
    margin-top: 2.5rem;
}